package components

import (
	"github.com/QuickWrite/Coroki/internal/data"
)

templ UserPage(users []data.User) {
    @page("User List") {
        <h1>User List</h1>

        <ol>
            for _, item := range users {
                <li>{ item.Name } - { item.Email }</li>
            }
        </ol>
    }
}
